@charset "utf-8";

body {
  border-top: 11px solid #329FD7;
}

#jenkins-head-icon,
#jenkins-name-icon {
  display: none;
}

#jenkins-home-link {
  background: url('http://docs.plone.org/_static/img/plone.svg') no-repeat scroll 10px center;
  width: 215px;
}

.job-status-blue img {
  display: none;
}

.job-status-blue:first-child {
  background-color: green;
}

/*

#header .logo {
  margin: 5px;
}

#header .searchbox {
  display: none;
}

#breadcrumbBar {
  background: transparent;
}

#breadcrumbBar .top-sticker {
  top: 61;
}

#breadcrumbs {
  border-top: 1px solid #D3D7CF;
}
*/
