[buildout]
extends =
    auth.cfg
parts =
    plone-4.2-python-2.6
    plone-4.2-python-2.7
    plone-4.2-ecosystem
    plone-4.3-python-2.6
    plone-4.3-python-2.7
#    plone-4.3-python-2.7-robot-windows-2003-ie9
#    plone-4.3-python-2.7-robot-windows-2003-chrome24
    plone-4.3-code-analysis
#    plone-4.3-test-coverage
    plone-4.3-ecosystem
    plone-4.3-plone-app-contenttypes
    plone-4.3-plone-app-multilingual
    plone-4.4-python-2.7
    plone-4.4-ecosystem
    plone-4.4-code-analysis
    jenkins-job-plone-4.2-python-2.6
    jenkins-job-plone-4.2-python-2.7
    jenkins-job-plone-4.2-ecosystem
    jenkins-job-plone-4.3-python-2.6
    jenkins-job-plone-4.3-python-2.7
#    jenkins-job-plone-4.3-python-2.7-robot-windows-2003-ie9
#    jenkins-job-plone-4.3-python-2.7-robot-windows-2003-chrome24
    jenkins-job-plone-4.3-code-analysis
#    jenkins-job-plone-4.3-test-coverage
    jenkins-job-plone-4.3-ecosystem
    jenkins-job-plone-4.3-plone-app-contenttypes
    jenkins-job-plone-4.3-plone-app-multilingual
    jenkins-job-plone-4.4-python-2.7
    jenkins-job-plone-4.4-ecosystem
    jenkins-job-plone-4.4-code-analysis
    push

[plone]
recipe = collective.recipe.template[genshi]:genshi
input = templates/plone.xml
git_url = git://github.com/plone/buildout.coredev.git
buildout_cfg = jenkins.cfg
buildout_run = jenkins-alltests -1
robot_report = False
code_analysis = False
email_notification = False
email_notification_recipients = plone-testbot@lists.plone.org
node = Slave
dollar = $

[plone-4.2-python-2.6]
<= plone
recipe = collective.recipe.template[genshi]:genshi
output = ${buildout:parts-directory}/jenkins-jobs/plone-4.2-python-2.6.xml
displayName = Plone 4.2 - Python 2.6
git_branch = 4.2
node = Slave1
python = $PYTHON26

[plone-4.2-python-2.7]
<= plone
recipe = collective.recipe.template[genshi]:genshi
output = ${buildout:parts-directory}/jenkins-jobs/plone-4.2-python-2.7.xml
displayName = Plone 4.2 - Python 2.7
git_branch = 4.2
python = $PYTHON27

[plone-4.2-ecosystem]
<= plone
recipe = collective.recipe.template[genshi]:genshi
input = templates/plone.xml
output = ${buildout:parts-directory}/jenkins-jobs/plone-4.2-ecosystem.xml
displayName = Plone 4.2 - Ecosystem
git_branch = 4.2
buildout_cfg = ecosystem.cfg
python = $PYTHON27

[plone-4.3-python-2.6]
<= plone
recipe = collective.recipe.template[genshi]:genshi
input = templates/plone.xml
output = ${buildout:parts-directory}/jenkins-jobs/plone-4.3-python-2.6.xml
displayName = Plone 4.3 - Python 2.6
git_branch = 4.3
node = Slave1
python = $PYTHON26
buildout_cfg = jenkins.cfg
buildout_run = jenkins-alltests -1
robot_report = True

[plone-4.3-python-2.7]
<= plone
recipe = collective.recipe.template[genshi]:genshi
input = templates/plone.xml
output = ${buildout:parts-directory}/jenkins-jobs/plone-4.3-python-2.7.xml
displayName = Plone 4.3 - Python 2.7
git_branch = 4.3
python = $PYTHON27
buildout_cfg = jenkins.cfg
buildout_run = jenkins-alltests -1
robot_report = True

[plone-4.3-python-2.7-robot-windows-2003-ie9]
<= plone
recipe = collective.recipe.template[genshi]:genshi
input = templates/plone-with-robot-saucelab.xml
output = ${buildout:parts-directory}/jenkins-jobs/plone-4.3-python-2.7-robot-windows-2003-ie9.xml
displayName = Plone 4.3 - Python 2.7 - Windows 2003 - Internet Explorer 9
git_branch = 4.3
python = $PYTHON27

[plone-4.3-python-2.7-robot-windows-2003-chrome24]
<= plone
recipe = collective.recipe.template[genshi]:genshi
input = templates/plone-with-robot-saucelab.xml
output = ${buildout:parts-directory}/jenkins-jobs/plone-4.3-python-2.7-robot-windows-2003-chrome24.xml
displayName = Plone 4.3 - Python 2.7 - Windows 2003 - Chrome 24
git_branch = 4.3
python = $PYTHON27

[plone-4.3-code-analysis]
<= plone
recipe = collective.recipe.template[genshi]:genshi
input = templates/plone-code-analysis.xml
output = ${buildout:parts-directory}/jenkins-jobs/plone-4.3-code-analysis.xml
displayName = Plone 4.3 - Code Analysis
git_url = git://github.com/plone/buildout.coredev.git
git_branch = 4.3
python = $PYTHON27

[plone-4.3-test-coverage]
<= plone
recipe = collective.recipe.template[genshi]:genshi
input = templates/plone-test-coverage.xml
output = ${buildout:parts-directory}/jenkins-jobs/plone-4.3-test-coverage.xml
displayName = Plone 4.3 - Test Coverage
git_url = git://github.com/plone/buildout.coredev.git
git_branch = 4.3
python = $PYTHON27

[plone-4.3-ecosystem]
<= plone
recipe = collective.recipe.template[genshi]:genshi
input = templates/plone.xml
output = ${buildout:parts-directory}/jenkins-jobs/plone-4.3-ecosystem.xml
displayName = Plone 4.3 - Ecosystem
git_branch = 4.3
buildout_cfg = ecosystem.cfg
python = $PYTHON27

[plone-4.3-plone-app-contenttypes]
<= plone
recipe = collective.recipe.template[genshi]:genshi
input = templates/plone.xml
output = ${buildout:parts-directory}/jenkins-jobs/plone-4.3-plone-app-contenttypes.xml
displayName = Plone 4.3 - plone.app.contenttypes
git_url = git://github.com/plone/plone.app.contenttypes.git
git_branch = master
python = $PYTHON27
buildout_cfg = jenkins.cfg
buildout_run = jenkins-test
robot_report = True
code_analysis = True
email_notification = True
email_notification_recipients = contact@timostollenwerk.net bauer@starzel.de patrick@patrickgerken.de mail@steffen-lindner.de

[plone-4.3-plone-app-multilingual]
<= plone
recipe = collective.recipe.template[genshi]:genshi
input = templates/plone.xml
output = ${buildout:parts-directory}/jenkins-jobs/plone-4.3-plone-app-multilingual.xml
displayName = Plone 4.3 - plone.app.multilingual
git_url = git://github.com/plone/plone.app.multilingual.git
git_branch = master
python = $PYTHON27
buildout_cfg = jenkins.cfg
buildout_run = jenkins-test
robot_report = True
code_analysis = True
email_notification = True
email_notification_recipients = ramon.nb@gmail.com sneridagh@gmail.com thomas@syslab.com mlarreategi@codesyntax.com

[plone-4.4-python-2.7]
<= plone
recipe = collective.recipe.template[genshi]:genshi
input = templates/plone.xml
output = ${buildout:parts-directory}/jenkins-jobs/plone-4.4-python-2.7.xml
displayName = Plone 4.4 - Python 2.7
git_branch = 4.4
python = $PYTHON27
buildout_cfg = jenkins.cfg
buildout_run = jenkins-alltests -1
robot_report = True

[plone-4.4-ecosystem]
<= plone
recipe = collective.recipe.template[genshi]:genshi
input = templates/plone.xml
output = ${buildout:parts-directory}/jenkins-jobs/plone-4.4-ecosystem.xml
displayName = Plone 4.4 - Ecosystem
git_branch = 4.4
buildout_cfg = ecosystem.cfg
python = $PYTHON27

[plone-4.4-code-analysis]
<= plone
recipe = collective.recipe.template[genshi]:genshi
input = templates/plone-code-analysis.xml
output = ${buildout:parts-directory}/jenkins-jobs/plone-4.4-code-analysis.xml
displayName = Plone 4.4 - Code Analysis
git_url = git://github.com/plone/buildout.coredev.git
git_branch = 4.4
python = $PYTHON27

[jenkins-job]
recipe = collective.recipe.jenkinsjob
hostname = http://jenkins.plone.org
port = 80
username = ${buildout:jenkins-username}
password = ${buildout:jenkins-password}

[jenkins-job-plone-4.2-python-2.6]
<= jenkins-job
recipe = collective.recipe.jenkinsjob
jobname = plone-4.2-python-2.6
jobconfig = ${buildout:parts-directory}/jenkins-jobs/plone-4.2-python-2.6.xml

[jenkins-job-plone-4.2-python-2.7]
<= jenkins-job
recipe = collective.recipe.jenkinsjob
jobname = plone-4.2-python-2.7
jobconfig = ${buildout:parts-directory}/jenkins-jobs/plone-4.2-python-2.7.xml

[jenkins-job-plone-4.2-ecosystem]
<= jenkins-job
recipe = collective.recipe.jenkinsjob
jobname = plone-4.2-ecosystem
jobconfig = ${buildout:parts-directory}/jenkins-jobs/plone-4.2-ecosystem.xml

[jenkins-job-plone-4.3-python-2.6]
<= jenkins-job
recipe = collective.recipe.jenkinsjob
jobname = plone-4.3-python-2.6
jobconfig = ${buildout:parts-directory}/jenkins-jobs/plone-4.3-python-2.6.xml

[jenkins-job-plone-4.3-python-2.7]
<= jenkins-job
recipe = collective.recipe.jenkinsjob
jobname = plone-4.3-python-2.7
jobconfig = ${buildout:parts-directory}/jenkins-jobs/plone-4.3-python-2.7.xml

[jenkins-job-plone-4.3-python-2.7-robot-windows-2003-ie9]
<= jenkins-job
recipe = collective.recipe.jenkinsjob
jobname = plone-4.3-python-2.7-robot-windows-2003-ie9
jobconfig = ${buildout:parts-directory}/jenkins-jobs/${:jobname}.xml

[jenkins-job-plone-4.3-python-2.7-robot-windows-2003-chrome24]
<= jenkins-job
recipe = collective.recipe.jenkinsjob
jobname = plone-4.3-python-2.7-robot-windows-2003-chrome24
jobconfig = ${buildout:parts-directory}/jenkins-jobs/${:jobname}.xml

[jenkins-job-plone-4.3-code-analysis]
<= jenkins-job
recipe = collective.recipe.jenkinsjob
jobname = plone-4.3-code-analysis
jobconfig = ${buildout:parts-directory}/jenkins-jobs/plone-4.3-code-analysis.xml

[jenkins-job-plone-4.3-test-coverage]
<= jenkins-job
recipe = collective.recipe.jenkinsjob
jobname = plone-4.3-test-coverage
jobconfig = ${buildout:parts-directory}/jenkins-jobs/plone-4.3-test-coverage.xml

[jenkins-job-plone-4.3-ecosystem]
<= jenkins-job
recipe = collective.recipe.jenkinsjob
jobname = plone-4.3-ecosystem
jobconfig = ${buildout:parts-directory}/jenkins-jobs/plone-4.3-ecosystem.xml

[jenkins-job-plone-4.3-plone-app-contenttypes]
<= jenkins-job
recipe = collective.recipe.jenkinsjob
jobname = plone-4.3-plone-app-contenttypes
jobconfig = ${buildout:parts-directory}/jenkins-jobs/plone-4.3-plone-app-contenttypes.xml

[jenkins-job-plone-4.3-plone-app-multilingual]
<= jenkins-job
recipe = collective.recipe.jenkinsjob
jobname = plone-4.3-plone-app-multilingual
jobconfig = ${buildout:parts-directory}/jenkins-jobs/plone-4.3-plone-app-multilingual.xml

[jenkins-job-plone-4.4-python-2.7]
<= jenkins-job
recipe = collective.recipe.jenkinsjob
jobname = plone-4.4-python-2.7
jobconfig = ${buildout:parts-directory}/jenkins-jobs/plone-4.4-python-2.7.xml

[jenkins-job-plone-4.4-ecosystem]
<= jenkins-job
recipe = collective.recipe.jenkinsjob
jobname = plone-4.4-ecosystem
jobconfig = ${buildout:parts-directory}/jenkins-jobs/plone-4.4-ecosystem.xml

[jenkins-job-plone-4.4-code-analysis]
<= jenkins-job
recipe = collective.recipe.jenkinsjob
jobname = plone-4.4-code-analysis
jobconfig = ${buildout:parts-directory}/jenkins-jobs/plone-4.4-code-analysis.xml


[push]
recipe = collective.recipe.template[genshi]:genshi
input = inline:
    #!/bin/sh
    bin/jenkins-job-plone-4.2-python-2.6-push
    bin/jenkins-job-plone-4.2-python-2.7-push
    bin/jenkins-job-plone-4.3-python-2.6-push
    bin/jenkins-job-plone-4.3-python-2.7-push
#    bin/jenkins-job-plone-4.3-python-2.7-robot-windows-2003-ie9-push
#    bin/jenkins-job-plone-4.3-python-2.7-robot-windows-2003-chrome24-push
    bin/jenkins-job-plone-4.3-code-analysis-push
#    bin/jenkins-job-plone-4.3-test-coverage-push
    bin/jenkins-job-plone-4.3-ecosystem-push
    bin/jenkins-job-plone-4.3-plone-app-contenttypes-push
    bin/jenkins-job-plone-4.3-plone-app-multilingual-push
    bin/jenkins-job-plone-4.4-python-2.7-push
    bin/jenkins-job-plone-4.4-ecosystem-push
    bin/jenkins-job-plone-4.4-code-analysis-push
output = ${buildout:directory}/bin/push
mode = 755
