@charset "utf-8";

body {
  border-top: 11px solid #329FD7;
}

#jenkins-home-link img {
  display: none;
}

#header {
  background: url('http://docs.plone.org/_static/img/plone.svg') no-repeat scroll 10px center;
  width: 215px;
}
