@charset "utf-8";

body {
  border-top: 11px solid #329FD7;
}

#jenkins-head-icon,
#jenkins-name-icon {
  display: none;
}

#jenkins-home-link {
  background: url('http://docs.plone.org/_static/img/plone.svg') no-repeat scroll 10px center;
  width: 215px;
}

img[src$="blue.png"], img[src$="blue.gif"], img[src$="blue_anime.gif"],
img[src$="yellow.png"], img[src$="yellow.gif"], img[src$="yellow_anime.gif"],
img[src$="red.png"], img[src$="red.gif"], img[src$="red_anime.gif"],
img[src$="grey.png"], img[src$="grey.gif"], img[src$="grey_anime.gif"],
img[src$="disabled.png"], img[src$="disabled.gif"], img[src$="disabled_anime.gif"],
img[src$="nobuilt.png"], img[src$="nobuilt.gif"], img[src$="nobuilt_anime.gif"],
img[src$="aborted.png"], img[src$="aborted.gif"], img[src$="aborted_anime.gif"] {
    content: url('data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==');
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    padding: 0;
    border-radius: 50%;
    background: rgba(0,0,0,0.1)
}
img[src*="blue.png"], img[src*="blue_anime.gif"] {
    background: #326ca6 !important;
}
img[src*="yellow.png"], img[src*="yellow_anime.gif"] {
    background: #FFFB00 !important;
}
img[src*="red.png"], img[src*="red_anime.gif"] {
    background: #FF7373 !important;
}
img[src*="_anime.gif"] {
    -webkit-animation: inprogress 2s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: inprogress 2s;
    -moz-animation-iteration-count: infinite;
    -o-animation: inprogress 2s;
    -o-animation-iteration-count: infinite;
}
img[src*="progress-unknown.gif"], img[src*="progress-unknown-red.gif"] {
    width: 42px;
    height: 10px;
}
.build-health-icon {
    padding: 0px;
}

/*

#header .logo {
  margin: 5px;
}

#header .searchbox {
  display: none;
}

#breadcrumbBar {
  background: transparent;
}

#breadcrumbBar .top-sticker {
  top: 61;
}

#breadcrumbs {
  border-top: 1px solid #D3D7CF;
}
*/
