ansible==2.5.5
appdirs==1.4.3
asn1crypto==0.24.0
cffi==1.11.5
cryptography==2.3.1
enum34==1.1.6
idna==2.6
ipaddress==1.0.22
Jinja2==2.10
MarkupSafe==1.0
packaging==17.1
paramiko==2.4.1
pyasn1==0.4.3
pycparser==2.18
pyparsing==2.2.0
requests==2.19.1
PyYAML==3.12
six==1.11.0
