---
# Jenkins server for Plone CI testing

- hosts: jenkins.plone.org
  remote_user: root
  roles:
    - plone.jenkins_server
  vars:
    admin_email: gil.gnome@gmail.com
    jenkins_admins:
      - tisto
      - gforcada
      - svx
    github_orgs:
      - plone
      - collective
    nodes_info:
      - name: "Node1"
        host: "88.99.26.113"
        port: "8088"
        cores: "8"
  vars_files:
    - secrets.yml

  tasks:

    # Set Hostname
    - hostname: name=jenkins.plone.org

    # Install mr.roboto
    - name: Install nginx-extras
      apt:
        name=nginx-extras
        state=present

    - cron:
        name: Start mr.roboto at reboot
        special_time: reboot
        job: "/srv/mr.roboto/bin/supervisord -c /srv/mr.roboto/supervisord.conf"
        user: root

  handlers:

    - name: Start mr.roboto
      supervisorctl:
        name="roboto:"
        state=started
        config=/srv/mr.roboto/supervisord.conf
        supervisorctl_path=/srv/mr.roboto/bin/supervisorctl

    - name: Restart mr.roboto
      supervisorctl:
        name="roboto:"
        state=restarted
        config=/srv/mr.roboto/supervisord.conf
        supervisorctl_path=/srv/mr.roboto/bin/supervisorctl
